
@{
    ViewData["Title"] = "Home Page";
}
@model List<BusinessLibrary.Models.Book>

<html>
<head>
    <title></title>
</head>
<body>

    <div class="text-left">

        @foreach (var item in Model)
        {
            <div class="col-4 div">
                @item.ISBN
                @item.Title
            </div>
        }
    </div>

</body>
</html>



