
@{
    ViewData["Title"] = "Home Page";
}
@model List<BusinessLibrary.Models.Book>
<div class="text-left">

    @foreach (var item in Model)
        {
            <p>@item.ISBN</p>
            <p>@item.Title</p>
        }
</div>

