
@{
    ViewData["Title"] = "Home Page";
}
@model List<BusinessLibrary.Models.Book>

<html>
<head>
    <title></title>
</head>
<body>
    <div class="ToppageBoekindex">
        Boekoverzicht
    </div>
    <br />

    @foreach (var book in Model)
    {
        <div class="col-3 Boek" style="float:left; text-align: center;">
            Book ISBN: @book.ISBN
            <br />
            titel: @book.Title
        </div>
    }

</body>
</html>



