
@{
    ViewData["Title"] = "Home Page";
}
@model List<BusinessLibrary.Models.Book>

<html>
<head>
    <title></title>
</head>
<body>
    <div class="ToppageBoekindex">
        Boekoverzicht
    </div>
    <br />
    @using (Html.BeginForm("BoekPagina", "Book", FormMethod.Post, new { enctype = "multiplart/form-data" }))
    {
        @foreach (var book in Model)
        {
            <form method="post">
                <button type="submit" class="col-3 Boek" style="float:left; text-align: center;">
                    Boek ISBN: @book.ISBN
                    <br />
                    titel: @book.Title
                </button>
            </form>
        }
    }

    </body>
</html>



