
@{
    ViewData["Title"] = "Home Page";
}
@model List<BusinessLibrary.Models.Book>

<html>
<head>
    <title></title>
</head>
<body>
    <div class="ToppageBoekindex">
        Boekoverzicht
    </div>
    <br />
        @foreach (var book in Model)
        {
            <button style="float:left;" type="submit" class="col-3 Boek" onclick="location.href='@Url.Action("BoekWijzigen", "Book", new { id = book.Title })'">Boek ISBN: @book.ISBN Boek titel: @book.Title </button>
        }
</body>
</html>



