@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.div{
    border-style:solid;
    border-color:crimson;
}

.Boek{
    border: solid 3px rgba(0,0,0,0.2);
    margin-left:4.167%;
    margin-right:4.167%;
    margin-bottom:15px;
}
.ToppageBoekindex {
    text-align: center;
    font-size: 36px;
    font-family: 'Karla', sans-serif;
}
/*.btn{
    background-color: #ddd;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}*/
