@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h3 class="display-4"> Kaliber database management systeem</h3>
    <br />
    <p> Hier kun je de database van de bibliotheek Kaliber beheren</p>

</div>
